div.data-container{
	width: 49%;
}

#test-left-container{
	float:left;
	/*position:absolute;*/
	width:50%;
}
/*
#test-main-container{
	margin-left:46%;
}

#test-main-container.main-container-alone{
	margin-left:0px;
}*/

#item-container {
	/*margin-right:6px;
	margin-bottom:6px;*/
}